{% extends 'base.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{% block body %}
<header class="main-header">
        <div class="container">
            <div class="header-left">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Garage V. Parrot">
            </div>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="#services-section">Services</a></li>
                        <li><a href="{{ path('app_vehicule') }}">Véhicules</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="{{ path('app_register') }}">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
</header>

<main>
      <div class="row">
        
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="" class="card-img-top" alt="Vehicle Image">
                    <div class="card-body">
                        <h5 </h5>
                        <p class="card-text">Year:</p>
                        <p class="card-text">Mileage:  /p>
                        <p class="card-text">Price: EUR</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>

    </div>


</main>

<footer>
        <div class="container">
            <div class="footer-logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Garage V. Parrot">
            </div>
            <div class="footer-address">
                <p>123 Rue de la Réparation<br>Toulouse</p>
            </div>
            <div class="footer-schedule">
                <h4>Horaires</h4>
                <!-- Afficher les horaires en fonction de votre entité Schedule -->
            </div>
            <div class="footer-contact-form">
                <h4>Nous Contacter</h4>
                <!-- Mini formulaire de contact ici -->
            </div>
        </div>
    </footer>
{% endblock %}
