{% extends 'base.html.twig' %}

{% block title %}Hello VehiculeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/laragon/www/Garagu/src/Controller/VehiculeController.php'|file_link(0) }}">src/Controller/VehiculeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/laragon/www/Garagu/templates/vehicule/index.html.twig'|file_link(0) }}">templates/vehicule/index.html.twig</a></code></li>
    </ul>
</div>

<footer>
        <div class="container">
            <div class="footer-logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Garage V. Parrot">
            </div>
            <div class="footer-address">
                <p>123 Rue de la Réparation<br>Toulouse</p>
            </div>
            <div class="footer-schedule">
                <h4>Horaires</h4>
                <!-- Afficher les horaires en fonction de votre entité Schedule -->
            </div>
            <div class="footer-contact-form">
                <h4>Nous Contacter</h4>
                <!-- Mini formulaire de contact ici -->
            </div>
        </div>
    </footer>
{% endblock %}
