/* Styles pour l'ensemble' */
div {
    margin: 1px;
    padding: 1px;
}


a:hover {
    text-decoration: none;
    color: #D9777F;
}

/* Styles pour le header */
.main-header {
    background-color: #f8f9fa; /* Blanc ou crème */
    padding: 10px 0;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .header-left img {
    max-height: 40px; /* Ajustez la hauteur du logo selon vos besoins */
}

.main-header .header-right nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header .header-right nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-header .header-right nav ul li a {
    text-decoration: none;
    color: #333; /* Couleur des liens */
}

.main-header .header-right nav ul li a:hover {
    color: #D9777F; /* Couleur des liens au survol */
}

.main-header a {
    text-decoration: none;
    color: black;
}

.main-header a:hover {
    text-decoration: none;
    color: #D9777F;
}

/* Styles pour la section des services */
.services-section {
    background-color: #D9777F; /* Fond blanc */
    padding: 50px 0;
}

.services-section .container {
    max-width: 800px; 
    margin: 0 auto; 
}

.service {
    margin-bottom: 30px;
}

.service h3 {
    color: #333; 
}

.service p {
    color: #666; 
}

#card-vehicule {
    color: white;
    background-color: #D9777F;
}

/* Styles pour le footer */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Largeur maximale du footer */
    margin: 0 auto; /* Centrer le footer */
}

.footer-column
{
    width: calc(25% -10px); /* Chaque colonne prend 1/3 de la largeur */
}

/* Styles supplémentaires pour chaque colonne si nécessaire */
.footer-logo img {
    max-height: 40px; /* Ajustez la hauteur du logo selon vos besoins */
}

.footer-address p {
    margin: 0;
}

.footer-schedule h4,
.footer-contact-form h4 {
    margin-top: 0;
}

/* Styles pour centrer le formulaire d'inscription */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de la vue à 100% */
}

.form-content {
    max-width: 400px; /* Largeur maximale du contenu du formulaire */
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-content h1 {
    text-align: center;
}

.vitrine {
    width: 100%; /* Assurez-vous que la div parent occupe toute la largeur disponible */
    overflow: hidden; /* Masquer le débordement de l'image si nécessaire */
}

.vitrine-image {
    max-width: 100%; /* L'image s'adaptera à la largeur de son conteneur parent */
    height: auto; /* Assurez-vous que la hauteur s'ajuste proportionnellement à la largeur */
}
