{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage V. Parrot</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="header-left">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Garage V. Parrot">
            </div>
            <div class="header-right">
                <nav>
                    <ul>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#vehicles">Véhicules</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="connexion">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>


{% endblock %}
