<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}    
    </head>
    <body>
        {% block body %}
        <footer>
        <div class="container">
            <div class="footer-logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Garage V. Parrot">
            </div>
            <div class="footer-address">
                <p>123 Rue de la Réparation<br>Toulouse</p>
            </div>
            <div class="footer-schedule">
                <h4>Horaires</h4>
                <!-- Afficher les horaires en fonction de votre entité Schedule -->
            </div>
            <div class="footer-contact-form">
                <h4>Nous Contacter</h4>
                <!-- Mini formulaire de contact ici -->
            </div>
        </div>
    </footer>
        {% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}    
</body>
</html>
